h1 {
  font-size: 30px;
  color: #006d04;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 70vh;
  overflow-x: auto;
  margin-top: 0px;
  border: 2px solid rgba(0, 0, 0, 0);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: bolder;
  font-size: 16px;
  color: #006d04;
  text-transform: uppercase;
}

tr {
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

td {
  position: relative;

  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: -1;
    }
  }

  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: bolder;
  font-size: 2vh;
  color: #000000;
  border-bottom: solid 3px rgba(0, 0, 0, 0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  background-color: #baffc7;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 50px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}